{% load editor_tags %}
<fieldset>
    <legend>{{ title }}</legend>
    <div class="empty-form" style="display:none;border:solid gray 1px;">
        {% formset_form formset.empty_form %}
    </div>
    <div class="formset"
         data-total-forms-id="id_{{ formset.prefix }}-TOTAL_FORMS">
        {{ formset.management_form }}
        {% formset_forms formset.forms %}
    </div>
    <div style="clear:both;"></div>
    <a class="add-new" href="#" title="Add new data file">Add</a>
    <button class="scrape" title="Scrape urls from download urls">Scrape</button>
    <br />
    <br />
</fieldset>
