{% load editor_tags %}
<fieldset id="{{ id }}">
    <legend>{{ title }}</legend>
    <div class="empty-form" style="display:none;">
        {% formset_form formset formset.empty_form %}
    </div>
    <div class="formset"
         data-total-forms-input-name="{{ formset.prefix }}-TOTAL_FORMS">
        {{ formset.management_form }}
        {% formset_forms formset formset.forms %}
    </div>
    <div style="clear:both;"></div>
    <a class="add-new" href="#" title="Add new data file">Add</a>
    <button type="button" class="btn btn-primary btn-small show-remote-links-modal">
        Scrape
    </button>
    <br />
    <br />
</fieldset>
<br />
