{% extends "editor/base.html" %}
{% load mptt_tags %}
{% load bootstrap3 %}

{% block page_class %}{{ page_name }}{% endblock %}
{% block content %}
    <div class="col-md-5">
        <label for="query">Search:</label> <input type="text" id="query"/>
        <div id="tree">
            <ul>
                {% recursetree nodes %}
                    <li {% if selected_node and selected_node == node %}data-jstree='{"opened":true,"selected":true}'{% endif %}>
                        <a href="{{ node.get_absolute_url }}">{{ node.name }}</a>
                        {% if not node.is_leaf_node %}
                            <ul class="children">
                                {{ children }}
                            </ul>
                        {% endif %}
                    </li>
                {% endrecursetree %}
            </ul>
        </div>
    </div>
    {% if user.is_authenticated and has_add_perm and has_change_perm %}
        {% if form %}
            <div class="col-md-7">
                <form method="POST">
                    {% csrf_token %}
                    <div class="pull-right">
                        {% buttons %}
                            <a class="btn btn-default pull-left"
                                href="{{ create_url }}"
                                title="Create new instance">
                                New
                            </a>
                            {% if form.instance and form.instance.id %}
                                <a class="btn btn-default pull-left"
                                    href="{{ create_url }}?parent={{ form.instance.id }}"
                                    title="Add new child">
                                    Add child
                                </a>
                                {% if create_dataset_url %}
                                    {# source is special case #}
                                    <a class="btn btn-default pull-left"
                                        href="{{ create_dataset_url }}"
                                        title="Add new dataset">
                                        Add dataset
                                    </a>
                                {% endif %}
                            {% endif %}
                            <button type="submit"
                                    class="btn btn-primary pull-left"
                                    title="Save and continue editing">
                                Save
                            </button>
                        {% endbuttons %}
                    </div>
                    <div style="clear:both;"></div>
                    <br />
                    {% for field in form %}
                        {% if field.field.horizontal %}
                            <div class="form-horizontal">
                                {% bootstrap_field field layout="horizontal" %}
                            </div>
                        {% else %}
                            {% bootstrap_field field %}
                        {% endif %}
                    {% endfor %}
                    <div style="float:right;">
                    {% buttons %}
                        <button type="submit"
                                class="btn btn-primary"
                                title="Save and continue editing">
                            Save
                        </button>
                    {% endbuttons %}
                    </div>
                </form>
                <div class="clear:both;"></div>
                <br />
                <br />
                {% if create_dataset_url %}
                    <div>Datasets</div>
                    <ul>
                        {% for dataset in form.instance.dataset_set.all %}
                            <li>
                                <a href="{{ dataset.get_absolute_url }}" title="Edit dataset">
                                    {{ dataset.title }}
                                </a>
                            </li>
                        {% empty %}
                            <li>Source does not have datasets yet.</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        {% endif %}
    {% else %}
        {# anonymous user or user without permissions #}
        {% if form %}
            <div class="col-md-7">
                <h2>{{ form.instance.name }}</h2>
                {% if not user.is_authenticated %}
                    <div>Authenticate to edit</div>
                {% else %}
                    <div>You do not have permission to edit</div>
                {% endif %}
            </div>
        {% endif %}
    {% endif %}
    <div style="clear:both;"></div>
{% endblock %}
