{% extends "editor/base.html" %}
{% load mptt_tags %}
{% load bootstrap3 %}

{% block content %}
    <script>
    $(function(){
        $('#tree')
            .on('select_node.jstree', function (e, node) {
                window.location.href = node.node.a_attr.href;
            })
        .jstree({
            "plugins": ["search"]});

        var to = false;
        $("#query").keyup(function () {
            if(to) {
                clearTimeout(to);
            }
            to = setTimeout(function () {
                var v = $("#query").val();
                $("#tree").jstree(true).search(v);
        }, 250);
        });
    });
    </script>
    <br />

    <div style="float:left;width:40%;">
        <label for="query">Search:</label> <input type="text" id="query"/>
        <div id="tree">
            <ul>
                {% recursetree nodes %}
                    <li {% if selected_node and selected_node == node %}data-jstree='{"opened":true,"selected":true}'{% endif %}>
                        <a href="{{ node.get_absolute_url }}">{{ node.name }}</a>
                        {% if not node.is_leaf_node %}
                            <ul class="children">
                                {{ children }}
                            </ul>
                        {% endif %}
                    </li>
                {% endrecursetree %}
            </ul>
        </div>
    </div>
    {% if user.is_authenticated and has_add_perm and has_change_perm %}
        {% if form %}
            <div style="float:left;width:59%;overflow:auto;">
                <form method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.field.horizontal %}
                            <div class="form-horizontal">
                                {% bootstrap_field field layout="horizontal" %}
                            </div>
                        {% else %}
                            {% bootstrap_field field %}
                        {% endif %}
                    {% endfor %}
                    <div style="float:right;">
                    {% buttons %}
                        <button type="submit"
                                class="btn btn-primary"
                                title="Save and go to the list of dataset">
                            Save
                        </button>
                    {% endbuttons %}
                    </div>
                </form>
                {% if form.instance and form.instance.id %}
                    <a href="{{ create_url }}?parent={{ form.instance.id }}" title="Add new child">
                        Add child
                    </a>
                    {% if create_dataset_url %}
                        {# source is special case #}
                        | <a href="{{ create_dataset_url }}" title="Add new dataset">
                            Add dataset
                        </a>

                        {# TODO: use `extends` to add extra data to form #}
                        <div style="clear:both;"></div>
                        <div>Datasets</div>
                        <ul>
                            {% for dataset in form.instance.dataset_set.all %}
                                <li>
                                    <a href="{{ dataset.get_absolute_url }}" title="edit dataset">
                                        {{ dataset.title }}
                                    </a>
                                </li>
                            {% empty %}
                                <li>Source does not have datasets yet.</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endif %}
            </div>
        {% else %}
            {# it is the whole tree, no node is selected. #}
            <a href="{{ create_url }}" title="Create new root node">Create root node</a>
        {% endif %}
    {% else %}
        {# anonymous user or user without permissions #}
        {% if form %}
            <div style="float:left;width:59%;overflow:auto;">
                <h2>{{ form.instance.name }}</h2>
                {% if not user.is_authenticated %}
                    <div>Authenticate to edit</div>
                {% else %}
                    <div>You do not have permission to edit</div>
                {% endif %}
            </div>
        {% endif %}
    {% endif %}
    <div style="clear:both;"></div>
{% endblock %}
