#id_categories, #id_formats {
    -moz-column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    column-count: 3;
    column-gap: 20px;
}
#id_categories div:first-child, #id_formats div:first-child {
    margin-top: 0;
}